* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px dotted; */
}

/* vvvv-----------------  DESKTOP NAVBAR SILFEN -----------------------vvvv */
.desktopnav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  z-index: 2;
}
.desktopnav ul {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
  align-self: center;
}

ul li {
  list-style: none;
}
li a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
li a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.desktopnav li:hover {
  scale: 1.1;
}
.desktopnav li:hover {
  scale: 1.1;
}
.icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  grid-column: 3;
}
#basket,
#heart,
#search,
#login {
  margin-right: 1.8vw;
}
.logo {
  justify-self: center;
  grid-column: 2;
}
.logo img {
  height: 24px;
  margin-top: 1.3vw;
  margin-bottom: 1.3vw;
}
#basket {
  height: 18px;
  width: 18px;
  margin-right: 3vw;
}

#search {
  height: 18px;
  width: 18px;
}
#login {
  height: 18px;
  width: 18px;
}

#heart {
  height: 18px;
  width: 18px;
}
.shipping {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  margin-right: 3vw;
}
/* vvvv-----------------  MOBILE NAVBAR SILFEN -----------------------vvvv */

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: block;
}
.side-nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
  display: none;
}
.side-nav ul li {
  border-bottom: 1px rgba(44, 37, 41, 0.14) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#side-menu a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
  opacity: 0.9;
  white-space: nowrap;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 36px;
  margin-right: 50px;
}
.lesserthansign {
  padding-right: 5vw;
}
.lesserthansign2 {
  padding-right: 5vw;
}
.lesserthansign3 {
  padding-right: 5vw;
}
.lesserthansign4 {
  padding-right: 5vw;
}
.lesserthansign:hover {
  cursor: pointer;
}

#nav-svg {
  display: none;
}
.width {
  width: 100%;
}
.heighLi {
  padding-bottom: 30vw;
  transition: 0.5s;
}

li a:hover {
  scale: 1.1;
}
/*------------------TEXT CARUSEL----------------------------------- */
.bluebar {
  height: 34px;
  background-color: #85b4d7;
  padding-left: 2vw;
  position: relative;
  z-index: 2;
}

.textcarusel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.rotatingText-adjective1 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective2 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective3 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective4 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  20%,
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
}
.rot1 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 0.5s;
}

.rot2 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 4.25s;
}

.rot3 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 8s;
}
.rot4 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 11.75s;
}
/* ------------------------Main--------------------------------------- */
main {
  margin: 0 5.5vw 0 5.5vw;
  font-family: roboto;
}
/* ---------------------Animationvideo---------------------------- */
video {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.animationvideo {
  display: grid;
  grid-template-columns: 1fr;
}

.space {
  height: 50vw;
  background-color: green;
}
iframe {
  width: 100%;
  height: 400px;
}
/* -----------------firstquarter------------------------------ */
.firstquarter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 5vw;
}
.firstimage {
  grid-column: 1/4;
  grid-row: 1;
}
.firstimage img {
  width: 100%;
}
.firstext {
  align-self: center;
  grid-column: 3/5;
  grid-row: 1;
  background-color: #bbd3b7;
  padding: 4vw;
  width: 550px;
  margin-left: 8.2vw;
}
.firstext p {
  font-size: 0.9rem;
}
.firstext h1 {
  font-weight: 100;
  margin-bottom: 1vw;
}

.firstext h1 span {
  font-weight: bold;
}
/* -------------------middlepart-------------------------------- */
.middlepart {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10vw 0 10vw 0;
  padding: 0 18vw 0 18vw;
  font-size: 1.2rem;
}
.middlepart p {
  text-align: center;
}
.middlepart span {
  font-weight: bold;
}
/* ------------------lastquarter-------------------------------- */
.lastquarter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 8vw;
}
.lastimage {
  grid-column: 3/6;
  grid-row: 1;
}

.lastimage img {
  width: 100%;
}

.lastext {
  align-self: center;
  grid-column: 1/-1;
  grid-row: 1;
  background-color: #84b4d7;
  padding: 4vw;
  width: 550px;
  margin-left: 7vw;
}

.lastext h1 {
  font-weight: 100;
  margin-bottom: 1vw;
  color: white;
}
.lastext h1 span {
  font-weight: bold;
}
.lastext p {
  font-size: 0.9rem;
  color: white;
}
/* -------------------footer------------------------------------ */
footer {
  height: 250px;
  background-color: #8fb3d4;
}
/* ----------------MEDIA QUERIES----------------------------- */
@media (max-width: 1100px) {
  .desktopnav ul {
    display: none;
  }
  #nav-svg {
    display: flex;
  }
  #nav-svg svg {
    width: 46px;
    height: 46px;
  }
  .side-nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    display: block;
  }
  @media (max-width: 1092px) {
    .firstext {
      margin-left: 4.2vw;
    }
  }
  @media (max-width: 1014px) {
    .firstext {
      margin-left: 2.2vw;
      width: 450px;
    }
    .firstext p {
      font-size: 0.8rem;
    }
  }
  @media (max-width: 950px) {
    .firstext {
      margin-left: 2.2vw;
    }
    .firstquarter {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 20vw;
      margin-top: 10vw;
    }
    .firstimage {
      grid-column: 1;
    }
    .firstext {
      align-self: end;
      grid-column: 1;
      grid-row: 1/-1;
      background-color: #bbd3b7;
      padding: 6vw;
      width: 780px;
      margin-left: 0;
      justify-self: center;
    }
    .firstext p {
      font-size: 1rem;
      line-height: 1.7;
    }
    .firstext h1 {
      font-size: 2.1rem;
    }
    .lastquarter {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 20vw;
      margin-bottom: 10vw;
    }
    .lastimage {
      grid-column: 1;
    }
    .lastext {
      align-self: end;
      grid-column: 1;
      grid-row: 1/-1;
      background-color: #84b4d7;
      padding: 6vw;
      width: 780px;
      margin: 0;
      justify-self: center;
    }
    .lastext p {
      font-size: 1rem;
      line-height: 1.7;
    }
    .firstext h1 {
      font-size: 2.1rem;
    }
  }
}
